* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  border-bottom: 8px solid #15906b;
  position: relative;
  line-height: 1;
}
.border_radius {
  border-radius: 1rem;
}

.BodyBackground {
  background-color: rgb(57, 51, 51);
  color: white;
}
/* Navbar Section  */
.NavigationBarBackgroundColor {
  background-color: #f8f9fa;
}
.Navbar__container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
  height: 3rem;
  padding: 2rem;
}
.Navbar__logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
}
.Navbar__menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Navbar__getStarted a {
  background-color: #15906b;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
  font-family: "inter", sans-serif;
}
.Navbar__getStarted a:hover {
  background-color: #4ebc9b;
}
.darkModeIcon {
  width: 1.6rem;
  cursor: pointer;
}
.cartIcon {
  width: 1.5rem;
  cursor: pointer;
}

.cart_container {
  background-color: #36a483;
  width: 13rem;

  position: absolute;
  top: 4rem;
  left: -1rem;
  display: flex;
  justify-content: center;

  border-radius: 0.5rem;
  color: white;
  margin-left: 65%;
  opacity: 0.8;
}
.cart_ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.visibility {
  display: none;
}
.cartList {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.Navbar__menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 1rem;
}
.Navbar__menu li a {
  color: rgb(85, 81, 81);
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.Navbar__menu li a:hover {
  color: rgb(188, 177, 177);
}

/* Company intro section  */
.Container__companyIntro {
  /* border: 1px solid rgb(18, 106, 161); */
  width: 65%;
  margin: auto;
  clear: both;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 65px;
  margin-top: 64px;
}
.header__box {
  align-self: center;
}
.companyMotivation {
  color: rgb(52, 50, 50);
}
.header__box h2 {
  font-family: "Inter", sans-serif;
  line-height: 2.5rem;
  font-size: 50px;

  letter-spacing: -0.5px;
}
.CompanyDescription {
  color: rgb(85, 81, 81);
}
.header__box p {
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
  margin-top: 1rem;
}

header img {
  width: 100%;
}
header a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: #15906b;
  padding: 1rem 1rem 1rem 1rem;

  color: White;
}
header a:hover {
  background-color: #4ebc9b;
}

/* special product sections  */
.section__specialChairs {
  margin-top: 5rem;

  margin-bottom: 10rem;
}
.OurSpecialChairs {
  color: rgb(52, 50, 50);
}

.section__specialChairs h2 {
  margin: 0rem 0rem 2rem 0rem;
  font-family: "Inter", sans-serif;

  font-size: x-large;
}
.grids-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.features-icon {
  width: 2rem;
  color: #43b895;
}
.col .features-title {
  font-family: "Inter";

  color: rgb(52, 50, 50);
}
.col .features-text {
  margin-top: 1rem;
  font-family: "inter";
  line-height: 1.5rem;
  font-size: small;
  width: 10rem;
}

/* //Customers Section */
.bestComment__Section {
  display: flex;
  align-items: center;
  background-color: #15906b;
  padding: 2rem;
  margin-bottom: 10rem;
  position: relative;
  justify-content: space-between;
  /* width: 90%rem; */
}
.bestComment__Section img {
  width: 15rem;

  border-radius: 0.7rem;
}

.p1 {
  font-weight: bold;
  font-family: "inter", sans-serif;
  color: rgb(52, 50, 50);
  color: white;
}
.p2 {
  color: white;
  line-height: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
  font-size: small;
  width: 33rem;
  font-style: italic;
}
.customer__name {
  margin-top: 1rem;
  color: #68d0b1;
}

.bestComment__Section::before {
  content: "TOP";
  display: inline;
  top: -1.5rem;
  right: -3rem;
  position: absolute;
  background-color: #15906b;
  padding: 0.5rem 0.5rem;
  color: white;
}

/* Best Selling Chairs  */
.section__bestChairs {
  margin-bottom: 10rem;
}
.sellingBestChairs {
  color: rgb(52, 50, 50);
}
.section__bestChairs h2 {
  margin-bottom: 2rem;
  font-family: "inter";
}
.chair {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.213);
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.grid-3-cols figure {
  border-radius: 1rem;
}

.chair-icon {
  stroke: #087f5b;
  width: 30px;
  height: 24px;
}
figure img {
  width: 13rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.chair-box {
  /* margin-top: 1rem; */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
}
.chair-box h3 {
  font-family: "Inter";
  color: rgb(52, 50, 50);
}

.chair-details li {
  line-height: 2rem;
  font-family: "Inter";
  font-size: small;
  list-style: none;
  /* padding-left: 1rem; */
  display: flex;
  margin-top: 0.6rem;
}
.chairChracteristics {
  margin-left: 1rem;
}
.chair-details li svg {
  /* margin-top: 1.5rem; */
  align-self: center;
}
.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}
.price {
  color: rgb(52, 50, 50);
}

.chair-price {
  font-family: "Inter";
  margin-top: 2rem;
  justify-self: center;
}

.chair-price p {
  display: inline-block;
  margin-left: 0.4rem;
  text-decoration: none;
  color: white;
  background-color: #15906b;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.chair-price p:hover {
  background-color: #4ebc9b;
}

/* Accordion Section  */
.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 5rem;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #087f5b;
}

/* Footer Section Designing  */
.footer {
  background-color: #087f5b;

  margin-top: 10rem;
}
.footerHeading {
  width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter";
  font-size: 15px;
}
.footerHeading h1 {
  margin-top: 4rem;
}
.footerGetStarted {
  text-decoration: none;
  margin-top: 3rem;
  background-color: #129e74;
  font-size: 14px;
  color: #495057;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-family: "Inter";
  font-size: 20px;
  border: 0.5px solid white;
  color: white;
}
.footerGetStarted:hover {
  background-color: #0b7d5b;
}
.footerMenuDiv {
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
}
.footerMenu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  margin-bottom: 2rem;
}
.footerMenu li a {
  text-decoration: none;
  color: white;
}
.chatDiv {
  width: 3rem;
  position: absolute;
  bottom: 5rem;
  right: -10px;
  color: white;
  margin-right: 5rem;
}

.footerSocialMediaIcons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.footerSocialMediaIcons svg {
  fill: white;
}

figure li span {
  margin-left: 1rem;
}

/* Galeries of Site Section  */

.CustomersProfilesSection {
  border: 5px solid #129e74;
  margin-top: 5rem;
}
.Galeries__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Galeries__section div img {
  width: 10rem;
}

.clientsSatisfy {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
  color: rgb(52, 50, 50);
}

/* Contact Us Form Section  */
.ContactUsSection {
  width: 80%;
  margin: 0px auto 0px auto;
  margin-top: 10rem;
  color: rgb(52, 50, 50);
  /* border: 1px solid #087f5b; */
}

.contact_form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid #080a09; */
  padding: 2rem;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.213);
  border-radius: 5px;
}
.ContactUsHeading {
  color: rgb(52, 50, 50);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.ContactUsSection h2 {
  color: rgb(52, 50, 50);
}
.FirstName__LastName {
  display: flex;
  justify-content: space-between;
}
.fName {
  width: 20rem;
  padding: 10px;
}
.lName {
  margin-left: 5px;

  overflow: hidden;
}
.contact_form input {
  overflow: hidden;
  padding: 0.7rem;
  font-family: "inter";
  color: #4c5055;
  border: 1px solid #087f5b;
  border-radius: 0.3rem;
}
.contact_form p,
span {
  font-family: "Inter";
  font-size: small;
  font-weight: large;
  color: #495057;
}

input:focus {
  outline: none !important;
  border-color: #087f5b;
  box-shadow: 1px 1px 7px #087f5b;
}
.contact_form button {
  width: 10rem;
  padding: 0.5rem;
  background-color: #087f5b;
  color: rgb(187, 173, 173);
  border-radius: 0.5rem;
  border: #087f5b;
  cursor: pointer;
  font-family: "Inter";
  margin-top: 1rem;
  color: white;
}
.contact_form button:hover {
  background-color: #129e74;
}
.optional {
  color: #868e96;
  font-size: 15px;
}

/* Payment Plans Section  */
.PaymentCards {
  margin: 10rem auto auto auto;
  border-radius: 0.3rem;
}
.paymentTimeParent {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: white;
  align-items: center;
}
.paymentTime {
  /* border: 2px solid blue; */
  background-color: #aaebd7;
  display: flex;
  justify-content: center;

  width: 12rem;
  margin: auto;
  border-radius: 2rem;
}
.cardContainerGrandParent {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.paymentTimeParent > p {
  font-family: "Inter";
  font-size: x-small;
  color: #6c737b;
}
.plan {
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  cursor: pointer;
}
.openedPlan {
  background-color: #087f5b;
  border-radius: 2rem;
}
.payment__cardContainer {
  border: 1px solid #087f5b;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
  border: 1px solid #0b7d5b;
}
.paymentContainerBtn {
  background-color: #087f5b;
  border: transparent;
  border-radius: 0.2rem;
  color: white;
  width: 10rem;
  padding: 0.5rem;
  cursor: pointer;
}
.paymentcontainerDesc {
  text-align: center;
  width: 9rem;
  color: #6c737b;
  font-size: small;
}
.paymentContainerBtn:hover {
  background-color: #129e74;
}
.freeEsign {
  font-weight: bold;
  color: #4c5055;
}
.free {
  color: #4c5055;
}
.ul_paymentContainer {
  list-style: none;
  margin-top: 1rem;
}
.ul_paymentContainer li {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
  color: #6c737b;
  font-size: small;
}
.ul_paymentContainer ul li svg {
  width: 2rem;
}
.alltimeSupport {
  width: 20rem;
  color: #6c737b;
  margin: auto;
  font-size: small;
}
.colorCard {
  background-color: #aaebd7;
}
